<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste do Get e POST</title>
</head>
<body>
    <h1>Teste de GET e POST</h1>
 <form method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="{{data['nome']}}"><br><br>
    <label for="mensagem">Mensagem:</label>
    <textarea name="mensagem">{{data['mensagem']}}</textarea><br><br>

    <input type="submit" value="Enviar">

 </form>
 <h2>Dados Enviados</h2>    
 <p>Nome: {{data['nome']}}</p>
 <p>Mensagem: {{data['mensagem']}}</p>
</body>
</html>  